DB_URL=postgresql://usuario:senha@localhost:5432/nome_do_banco
PORT=3000

JWT_SECRET=sua_chave_jwt_aqui
JWT_EXPIRES=15m
REFRESH_TOKEN_SECRET=sua_chave_refresh_token_aqui
REFRESH_TOKEN_EXPIRES_DAYS=30
COOKIE_SECURE=false

NODE_ENV=development

RESEND_API_KEY=sua_chave_resend_aqui
FRONTEND_URL=http://localhost:5173
EMAIL_FROM=My GManager <noreply@seudominio.com>